DB_NAME=cartify
MONGODB_URI=mongodb://localhost:27017
PORT=8000
CORS=*
ECOMMERCE_REDIRECT_URL=http://localhost:5137
REFRESH_TOKEN_SECRET=adarsh-verma-token
ACCESS_TOKEN_SECRET=adarsh-verma-token
STRIPE_WEBHOOK_SECRET=
STRIPE_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=